#FeedPrincipal-div-main {
    position: relative;

    display: flex;
    justify-content: center;
    
    height: 100vh;
    width: 100%;
}

.spaced {
    display: flex;
    justify-content: space-evenly;
}

#div-toHide-boxList {
    display: flex;
    justify-content: center;
}

.containerWelcome {
    height: 60px;
    align-self: left;
    width: 500px;
}

.containerWelcome h3 {
    color: #fff;
    font-weight: 600;
    font-size: 1.6em;
}

#div-posts-FeedPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 960px) {
    #div-toHide-boxList {
        display: none;
    }

    .spaced {
        justify-content: center;
    }

    #div-posts-FeedPrincipal {
        width: 90%;
        margin: 20px;
    }
}