#bottom-nav{
    display: none;
}

@media screen and (max-width: 960px){


    .bottomBarContainer-higher{
        max-width: 100vw;
        height: 60px;
        overflow: hidden;
    
    }

    #bottom-nav{
        background-color: var(--color-secundary);
        padding: 0;

        display: flex;

        min-width: 100vw;
        min-height: 7vh;
        height: 7vh;

        position:fixed;
        position: -webkit-sticky;
        bottom: 0;
        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .div-bottom-icons{
        display: flex;
        align-items: center;
        justify-content: space-around;

        min-width: 100vw;
        min-height: 8vh;
        

    }

    .div-bottom-icons a{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 15px;
        height: 100%;
    }
}