.modalCreatePost-Container{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate3d(-50%,-50%, 0);
    z-index: 100;
    width: 600px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
}

/* Top bar  */
.ModalCreatePost-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    color: #7c7c7c;
    border-bottom: 1px solid #c0c0c0;
}


.modalCreatePost-userInfo-col2 h4,
.ModalCreatePost-top h2{
    font-weight: 300;
}


/* User info  */
.modalCreatePost-userInfo{
    display: flex;
    padding: 20px;
}

.modalCreatePost-userInfo-col2 select{
    height: 30px;
    border: 1px solid #7c7c7c;
    border-radius: 20px;
    margin-top: 5px;
    padding-left: 10px;
    width: 100px;
}

.modalCreatePost-userInfo-col2 h4{
    font-weight: 600;
    font-size: 17px;
}


/* Image  */
.modalCreatePost-profileimgcontainer{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
    margin-right: 20px;
}

.modalCreatePost-userInfo img{
    width: auto;
    height: 100%;
}

 /* Quill Editor  */
.ql-editor {
  min-height: 200px;
}


/* Bottom  */
.modalCreatePost-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.modalCreatePost-postbttContainer-col2{
    background-color: #c4c4c4;
    text-align: center;
    border-radius: 25px;
    width: 90px;
    height: 40px;
    line-height: 40px;
}

.modalCreatePost-postbtt-col2 a{
    color: #7c7c7c;

}

.modalCreatePost-postbttContainer-col2-active{
    background-color: var(--color-secundary);
    text-align: center;
    border-radius: 25px;
    width: 90px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.modalCreatePost-postbttContainer-col2-active a{
    color: #fff;
}



/* Overlay  */
.modalCreatePost-overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #2c2c2c73;
}