.containerList{
    display: flex;
    /*arruma os filhos em colunas*/
    flex-direction: column;
    
    background-color: #253241;

    width: 100%;
    min-width: 250px;
    height: 70vh;

    padding: 15px 10px;
    padding-bottom: 30px;
    margin-top:50px;
    
    /* box-shadow: 5px 10px 8px #111b24; */
    border-radius: 15px;
    

    position: sticky;
    position: -webkit-sticky;
    top: 10vh;
}


.div-groupOrEvent-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
}

.separator{
    width: 90%;
    border-bottom: 2px solid #ddd;
    
    align-self: center;
}

#containerHeader{
    color: #fff;
    align-self: left;
    margin: 0 20px;
    margin-bottom: 10px;
    font-size: 20px;
    
}

@media screen and (max-width: 960px){
    .div-groupOrEvent-box{
        display: flex;
        align-items: center;
    }
    .containerList{
        padding-top: 10px;
        /* background-color: #1d2d3d; */
        margin: 0;
        height: 100%;
        width: 100vw;
        border-radius: 0;

    }

    #containerHeader{
        /* color: #ddd; */
        align-self: center;
        
        margin-bottom: 10px;
        font-size: 22px;
    }

    .separator{
        width: 80%;
        border-bottom: 2px solid #ddd;
        
        align-self: center;

        margin-bottom: 10px;
    }

    
}




