.containerList {
    display: flex;
    flex-direction: column;
    background-color: #253241;
    /* width: 100%; */
    max-width: 370px;
    min-width: 250px;
    height: 70vh;

    padding: 0 0 30px 0;
    border-radius: 15px;

    position: sticky;
    position: -webkit-sticky;
    top: 10vh;
    margin: 0 50px;
}

#ContainerList-div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

#criar-componente {
    margin-right: 25px;
    cursor: pointer;
}

.div-groupOrEvent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
}

.separator {
    width: 90%;
    border-bottom: 2px solid #ddd;
    align-self: center;
}

#containerHeader {
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

.OpenModalBtt {
    color: #fff;
    padding: 5px;
    background-color: var(--color-terciary);
    border-radius: 5px;
    width: 60px;
    margin-right: 8px ;

    text-decoration: none;
    font-size: 1em;
    font-weight: 700;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.OpenModalBtt:hover {
    background-color: var(--color-terciary-hover);
}

@media screen and (max-width: 960px) {
    .div-groupOrEvent-box {
        display: flex;
        align-items: center;
    }
    .containerList {
        padding-top: 10px;
        /* background-color: #1d2d3d; */
        margin: 0;
        height: 100%;
        width: 100vw;
        border-radius: 0;
    }
    #containerHeader {
        /* color: #ddd; */
        align-self: center;
        margin-bottom: 10px;
        font-size: 22px;
    }
    .separator {
        width: 80%;
        border-bottom: 2px solid #ddd;
        align-self: center;
        margin-bottom: 10px;
    }
}