.postContainer{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 8px 5px 15px rgb(218, 218, 218);
    background-color: #fff;
    max-width: 500px;
    margin-bottom: 30px;
    
}


 /* Post Header  */
.postHeader{
    display: flex;
    padding: 10px 20px 10px 20px;
}

.postProfilePictureContainer{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
    margin-bottom: 20px;
}

.postUserPicture{
    width: auto;
    height: 100%;
}

.postInfo{
    margin-left: 20px;
}

.postInfo .postInfoSubtext{
    color: rgb(158, 158, 158);
    font-size: 0.8em;
}

 /* Post Content  */
.postContent{
    padding: 0 20px 29px 20px;
}


 /* Post Footer  */
.postFooter{
    display: flex;
    justify-content: space-around;

    margin-top: 30px;
    margin-bottom: 10px;
}

.postCommentsContainer{
    display: flex;

}

.postLikesContainer p,
.postCommentsContainer p{
    margin-left: 12px;
}

.postLikesContainer{
    display: flex;
    
}
