#EventoCriar-div-main{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    padding: 25px 50px;
}

#EventoCriar-div-header{
    width: 100%;
    font-size: 18px;
    color: #eeeeee;
}


#EventoCriar-div-wrap{
    display: flex;
    padding: 0 50px;
    

}

#EventoCriar-div-wrap label{
    color: #eee;
}

#EventoCriar-nomeEvento-input{
    width: 200px;
    height: 50px;
    border: 15px #fff solid;
    border-radius: 30px;
    margin: 10px;
}

#EventoCriar-descEvento-input{
    width: 325px;
    height: 100px;

    min-width: 325px;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;

    padding: 15px;
    border-radius: 30px;

    margin: 10px;

    

}

#EventoCriar-descEvento-input::-webkit-scrollbar {
    display: none;
}

#EventoCriar-dataInicio{
    width: 200px;
    height: 50px;
    border: 10px #fff solid;
    border-radius: 30px;

    margin: 10px;

}

#EventoCriar-dataFim{
    width: 200px;
    height: 50px;
    border: 10px #fff solid;
    border-radius: 30px;

    margin: 10px;

}

#EventoCriar-category{
    width: 200px;
    height: 50px;
    padding: 15px;
    border-radius: 30px;

    margin: 10px;

}

#EventoCriar-div-left{
    display: flex;
    flex-direction: column;
    width:50%;

}

#EventoCriar-div-right{
    display: flex;
    flex-direction: column;
    width:50%;
    align-items: center;
}

#EventoCriar-urlImg-input{
    width: 200px;
    height: 50px;
    border: 15px #fff solid;
    border-radius: 30px;
    margin: 20px;

}

#EventoCriar-div-right p{
    color: #eee;
}

#EventoCriar-preview-img{
    width: 300px; /*600x300 ou 267x137*/
    height: 150px;

    margin: 10px;
}
#EventoCriar-criar-btn{
    color: #eee;
    width: 220px;
    height: 60px;
    background-color: #04d361;
    display: flex;
    padding: 0 auto;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    margin: 10px;

    cursor: pointer;
}