#InfoUsuario {
    background-color: #1e2e3e;
    box-shadow: 0 0 24px #1e2e3e;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-bottom: 1px solid #a3aaae;
}

#FotoUsuario {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 14vh;
}

#FotoUsuario a img {
    width: 30vh;
    border-radius: 50%;
}

#DescricaoUsuario {
    padding-left: 15vh;
}

#DescricaoUsuario h1 {  
    padding-top: 1.5vh;  
    color: #d0094c;
    font-size: 2.2rem;
}

#NickCat {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1.15rem;
}

#NickCat h5 {
    padding-left: 0.5vh;
    font-size: 1rem;
}

#Bio {
    padding-top: 3vh;
    padding-bottom: 3vh;
    max-width: 95vh;
    background-color: #1e2e3e;
    box-shadow: 0 0 14px #1e2e3e; 
    text-align: justify;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 25px;
}

#BotaoSocial {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1.5vh;
    padding-top: 2vh;
}

#BotaoSocial button {
    background: #1e2e3e;
    border: 0;
    padding-left: 2vh;
    font-size: 0.95rem;
}

#BotaoSocial button a {
    color: #eee;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#BotaoSocial button a:hover {
    color: #04d361;
    transition: 0.44s;
}

#BotaoSocial button a:active {
    color: #04d361;
}

#BotaoSocial button a h4 {
    padding-left: 1vh;
}

#BotaoSocial button a img {
    border-radius: 25%;
    width: 3vh;
}

@media only screen and (max-width: 1280px) {
    #FotoUsuario {
        padding-left: 2vh;
    }
    
    #FotoUsuario a img {
        width: 20vh;
    }

    #DescricaoUsuario {
        padding-left: 5vh;
        padding-right: 2.5vh;
    }

    #DescricaoUsuario h1 {  
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 600px) {
    #InfoUsuario {
        flex-flow: row wrap;
        padding-bottom: 7.5vh;
    }

    #DescricaoUsuario h1 {  
        font-size: 1.6rem;
    }

    #Bio {
        font-size: 1.1rem;
    }
}