#InfoUsuario {
    background-color: var(--color-primary);
    box-shadow: 0 0 24px var(--color-primary);
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-bottom: 1px solid #a3aaae;
    padding: 20px 0;
}

#FotoUsuario {
    position: relative;
}

#FotoUsuario img {
    width: 30vh;
    border-radius: 50%;
}

#DescricaoUsuario {
    margin-top: 25px;
    padding-left: 15vh;
}

#DescricaoUsuario h1 {  
    padding-top: 1.5vh;  
    color: #fff;
    font-size: 2.2rem;
}

#NickCat {
    display: flex;
    padding-top: 10px;
    padding-bottom: 2vh;
    font-size: 1.15rem;
}

#NickCat p {
    padding-left: 0.5vh;
    /* font-size: 1rem; */
}

#Bio{
    margin: 15px 0;
    max-width: auto; /* TODO : Test the max chars */

}

#Bio h4{
    max-width: 95vh;
    font-size: 1.4rem;
}

#Bio a{
    text-align: justify;
}

#Bio a:hover{
    color: var(--color-terciary);
    cursor: pointer;
    transition: 0.44s;
}

#BotaoSocial {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 15px 10px 15px 0;
    border: 0;
    font-size: 0.95rem;
}

#BotaoSocial p,
#BotaoSocial a {
    color: #eee;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#BotaoSocial a:hover {
    color: var(--color-terciary);
    cursor: pointer;
    transition: 0.44s;
}

#BotaoSocial a:active {
    color: var(--color-terciary);
}

#BotaoSocial p a,
#BotaoSocial a h4{
    padding-left: 10px;
    padding-right: 15px;
}



@media only screen and (max-width: 1280px) {
    #FotoUsuario {
        padding-left: 2vh;
    }
    
    #FotoUsuario a img {
        width: 20vh;
    }

    #DescricaoUsuario {
        padding-left: 5vh;
        padding-right: 2.5vh;
    }

    #DescricaoUsuario h1 {  
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 600px) {
    #InfoUsuario {
        flex-flow: row wrap;
        padding-bottom: 7.5vh;
    }

    #DescricaoUsuario h1 {  
        font-size: 1.6rem;
    }

    #Bio {
        font-size: 1.1rem;
    }
}