#InfoEvento {
    background-color: var(--color-primary);
    box-shadow: 0 0 24px var(--color-primary);
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #a3aaae;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
}

#NomeInfoEvento {
    padding-top: 1.5vh;
}

#NomeInfoEvento h1 {
    color: var(--color-secundary);
    font-size: 2.2rem;
    text-decoration: underline;
}

#VisualEventos {
    padding-top: 1.5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
    max-height: 47.5vh;
    overflow: scroll;
}

#VisualEventos a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#VisualEventos a img {
    width: 50vh;
    border-radius: 15%;
    padding-left: 3.5vh;
    padding-right: 3.5vh;
}

#VisualEventos a h3 {
    color: #eee;
    padding-bottom: 1.5vh;    
    text-align: center;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-top: 1.5vh;
    padding-bottom: 7.5vh;
    max-width: 50vh;
}

#VisualEventos a h3:hover {
    color: var(--color-terciary);
    transition: 0.44s;
}

#VisualEventos a h3:active {
    color: var(--color-terciary);
}

@media only screen and (max-width: 1440px) {
    #NomeInfoEvento h1 {
        padding-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 1280px) {
    #VisualEventos a img {
        width: 35vh;
    }

    #VisualEventos a h3 {
        max-width: 35vh;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    #VisualEventos {
        display: flex;
        flex-flow: row nowrap;
        max-height: 40vh;
        justify-content: flex-start;
        padding-top: 15vw;
        padding-bottom: 15vw;
    }

    #VisualEventos a {
        padding-left: 2vh;
        padding-right: 2vh;
    }

    #VisualEventos a img {
        width: 50vh;
        border-radius: 15%;
    }
}

@media only screen and (max-width: 600px) {
    #NomeInfoEvento h1 {
        font-size: 1.75rem;
    }

    #VisualEventos {
        padding-top: 12.5vh;
    }

    #VisualEventos a img {
        width: 40vh;
    }
}