#InfoGrupo {
    margin: 50px 20px;
}

#NomeInfoGrupo {
    padding-top: 25px;
    margin-bottom: 15px;
}

#NomeInfoGrupo h1 {
    color: #fff;
    font-size: 2.2rem;
}

#VisualGrupos {
    display: flex;
    min-height: 250px;
    overflow-x: auto;
    overflow-y: hidden;
}

#VisualGrupos a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 15px 0 30px;
}

#VisualGrupos a img {
    width: 150px;
    border-radius: 50%;
    padding-left: 3.5vh;
    padding-right: 3.5vh;
}

#VisualGrupos a h3 {
    color: #eee;
    text-align: center;
    margin-top: 10px;
    max-width: 25vh;
    font-weight: 300;
}

#VisualGrupos a h3:hover {
    color: var(--color-terciary);
    transition: 0.44s;
}

#VisualGrupos a h3:active {
    color: var(--color-terciary);
}

@media only screen and (max-width: 850px) {
    #NomeInfoGrupo h1 {
        font-size: 1.75rem;
    }
    #VisualGrupos a {
        max-width: 180px;
    }
    #VisualGrupos a h3 {
        font-size: 1.05rem;
    }
}