.eventoContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    
}


 /* Top ----------------  */

.eventoTopbarContainer{
    
    background: rgb(208,9,76);
    background: linear-gradient(180deg, rgba(208,9,76,1) 0%, rgba(30,46,62,1) 55%); 
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow:  2px 3px 30px #111b24
}

.eventoTopbar-SecondRow-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;

    width: 600px;

}


.eventoTopbarFirstRowContainer img{
    width: 600px;
    margin: 30px 0;
    border-radius: 20px;

}

.eventoTopbar-SecondRow-FirstColumn h3{
    color: var(--color-secundary) ;
}

.eventoTopbar-ThirdRow-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    height: 50px;

}

.eventoTopbar-ThirdRow-FirstColumn a{
    color: var(--color-secundary);
    padding: 7px;

    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;

    border-bottom-width: 4px;
    border-bottom-color: var(--color-secundary);
    border-bottom-style: solid;

    align-self: flex-end;
    
}
 

.eventoTopbar-ThirdRow-SecondColumn{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 10px;
    
}

.eventoTopbar-ThirdRow-SecondColumn-Firstchild{
    margin-right: 15px;
}

.eventoTopbar-ThirdRow-SecondColumn a{
    color: #fff;
    padding: 7px;

    background-color: #25394d;
    border-radius: 10px;

    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.eventoTopbar-ThirdRow-SecondColumn a:hover{
    background-color: #304a64;
    
} 



/* Bottom ---------------  */
.eventoBottomContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}



.eventoBottom-Detalhes{
    background-color: #1f3244;
    margin-top: 30px;
    margin-right: 20px;
    width: 400px;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow:  8px 5px 15px #111b24; */
    align-self: start;
}

.eventoBottom-Detalhes h1{
    font-size : 1.5em
}

.eventoBottom-Detalhes-Horario{
    display: flex;
    margin: 20px 0;
}

.eventoBottom-Detalhes-Tipo{
    display: flex;
    margin: 20px 0;
}

.eventoBottom-Detalhes-Desc{
    margin: 20px 0;
}

.eventoBottom-Detalhes-Horario p{
    margin-left: 10px;

}

.eventoBottom-Detalhes-Tipo p{
    margin-left: 10px;
}

.eventoBottom-Oganizador{
    background-color: #1f3244;
    margin-top: 30px;
    width: 350px;
    height: 150px;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 5px 5px 15px rgb(95, 95, 95); */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-bottom: 50px;
    

}

.eventoBottom-Oganizador h1{
    font-size : 1.5em
}

.eventoBottom-Oganizador-card{
    display: flex;
    width: 90%;

}

.eventoBottom-Oganizador-card-info p{
    color: rgb(204, 204, 204);
}

.eventoBottom-organizador-profilePic{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
    margin-right: 10px;

}

.organizadorProfilepic{
    width: auto;
    height: 100%;
}


.eventoBottom-Pessoas{
    background-color: #1f3244;
    margin-top: 30px;
    width: 350px;
    height: 230px;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 5px 5px 15px rgb(95, 95, 95); */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eventoBottom-Pessoas h1{
    font-size : 1.5em
}

.eventoBottom-Pessoas-stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eventoBottom-Pessoas-stats-vao,
.eventoBottom-Pessoas-stats-confirmadas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.eventoBottom-Pessoas-avatar{
    align-self: center;
}



@media screen and (max-width: 600px){
    .eventoTopbar-SecondRow-Container{
        width: 500px;
    }

    .eventoTopbarFirstRowContainer img{
        width: 500px;
        margin: 15px 0;
    
    }

    .eventoTopbar-ThirdRow-Container{
        width: 500px;
    }
}

@media screen and (max-width: 500px){
    .eventoTopbar-SecondRow-Container{
        width: 400px;
    }

    .eventoTopbarFirstRowContainer img{
        width: 400px;
        margin: 0 0;
    
    }

    .eventoTopbar-ThirdRow-Container{
        width: 400px;
    }

    .eventoTopbar-ThirdRow-Container{
        justify-content: center;
    }

    .eventoTopbar-ThirdRow-FirstColumn{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .eventoTopbar-SecondRow-Container{
        width: 300px;
        justify-content: center;
    }

    .eventoTopbarFirstRowContainer img{
        width: 400px;
        margin: 0 0;
    
    }

    .eventoTopbar-ThirdRow-Container{
        width: 400px;
    }

    .eventoTopbar-ThirdRow-Container{
        justify-content: center;
    }

    .eventoTopbar-ThirdRow-FirstColumn{
        display: none;
    }
}


@media screen and (max-width: 960px) {
    .eventoBottomContainer{
        flex-direction: column;
    }

    .eventoBottom-Detalhes{
        align-self: center;
        width: 350px;
        margin-right: 0;
    }
}