#container-eventBox{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 35%;
    align-content: center;
    justify-content: center;
    margin-top: 20px;

    padding: 10px 5px;
    box-shadow: 8px 5px 15px rgb(218, 218, 218);
}


#eventBox-details{
    display:flex;
    height: 15%;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 5px;

}

.link-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    
}


.image-eventBox{
    background-color: #d0094c;
    display: flex;

    width: 80%;
    height: 100%;
    

    align-self: center;
    border-radius: 5px;
}

#eventBox-titulo{
    color: #666;
    font-size: 18px;
    
 
}

#eventBox-data{
    color: #666;
    font-size: 18px;
    
 
}
.image-eventBox:hover{
    opacity: 0.8;
    cursor: pointer;
    border: 1px solid #04d361;
}


@media screen and (max-width: 1500px){

    #container-eventBox{
        height: 30%;
        margin-top: 10px;
    }

    .link-center{
       height: 60%;
        
    }
    .image-eventBox{
        width: 200px;
    }
}

@media screen and (max-width: 1160px){
    #eventBox-titulo,
    #eventBox-data{
        font-size: 15px;
    }
}


@media screen and (max-width: 960px){

    #eventBox-details{
        display:flex;
        width: 85%;
        height: 15%;
        align-self: center;
        justify-content: space-between;
        margin: 0 20px;
        margin-bottom: 5px;
    }

    .link-center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85%;
    }

    #eventBox-titulo{
        /* color: #ddd; */
        font-size: 18px;

    }

    #eventBox-data{
        display: flex;
        /* color: #ddd; */
        font-size: 18px;
        align-self: left;
        margin-bottom: 10px;
    }

    #container-eventBox{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 35%;
        width: 80%;
        align-content: center;
        
        justify-content: center;
        margin-top: 0;
        margin-bottom: 8%;
    
    }

    .image-eventBox{
        background-color: #d0094c;
        display: flex;

        width: 80%;
        height: 100%;
        

        align-self: center;
        
        
        border: 2px solid #ddd;
        border-radius: 5px;
        
    }
    

}

