<<<<<<< HEAD

=======
>>>>>>> 3c9098d7c44cdb5c0381e72a507cff94844a9362
.containerGroup{
    display: flex;
    /*arruma os filhos em colunas*/
    flex-direction: column;
    
    background-color: #fff;

    width: 20%;
    height: 70vh;

    padding: 15px 0;
    margin: 50px;
}

/* faz tratamento da scrollbar*/
::-webkit-scrollbar{
    display: none;
}

<<<<<<< HEAD
h1{
=======
.separator{
    width: 80%;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
    align-self: center;
}

#containerHeader{
>>>>>>> 3c9098d7c44cdb5c0381e72a507cff94844a9362
    align-self: left;
    margin: 0 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #666;
}


@media screen and (max-width: 960px){
    .containerGroup{
        display: none;
    }
}