.notificacaoBox-Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;


    margin-bottom: 1px ;
    padding: 0 10px;
}

.notificacaoBox-Container:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.notificacaoBox-text-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    color: #000;
    width: 240px;
}


.notificacaoBox-text-container-light{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    color: #fff;
    width: 240px;
}

.notificacaoBox-UserActionName{
    font-weight: 700;
}

.notificacaoBox-tempo{
    color: #999;
    font-size: medium;
}


.notificacaoBox-userPic-Container{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
}

.notificacaoBox-userPic{
    width: auto;
    height: 100%;
}

.notificacaoBox-ActionPic-Container{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.notificacaoBox-ActionPic{
    width: auto;
    height: 100%;
}
