
#InfoGrupo {
    /* background-color: var(--color-primary); */
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0 5vw;
    padding: 20px;

}

#NomeInfoGrupo {
    padding-top: 1.5vh;
    margin-bottom: 15px;
}

#NomeInfoGrupo h1 {
    color: #fff;
    font-size: 2.2rem;
    /* text-decoration: underline; */
}

#VisualGrupos {
    display: flex;
    justify-content: center;
    align-items: center; 
    /* padding-left: 200px; */
    padding-left: 83%;

    min-height: 250px;
    overflow-x: auto;
    overflow-y: hidden;
}


#VisualGrupos a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 15px 0 30px;
}

#VisualGrupos a img {
    width: 150px;
    border-radius: 50%;
    padding-left: 3.5vh;
    padding-right: 3.5vh;
}

#VisualGrupos a h3 {
    color: #eee;
    padding-bottom: 1.5vh;    
    text-align: center;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-top: 1.5vh;
    padding-bottom: 4vh;
    max-width: 25vh;
}

#VisualGrupos a h3:hover {
    color: var(--color-terciary);
    transition: 0.44s;
}

#VisualGrupos a h3:active {
    color: var(--color-terciary);
}

@media only screen and (max-width: 1440px) {
    #NomeInfoGrupo h1 {
        padding-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    #VisualGrupos {
        display: flex;
        flex-flow: row nowrap;
        max-height: 25vh;
        justify-content: flex-start;
    }

    #VisualGrupos a h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    #NomeInfoGrupo h1 {
        font-size: 1.75rem;
    }
    
    #VisualGrupos {
        padding-left: 0vw;
        padding-right: 0vw;
    }
    
    #VisualGrupos a {
        max-width: 180px;
    }

    #VisualGrupos a h3 {
        font-size: 1.05rem;
    }
}