.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #d0094c; */
    background: url('../../../assets/codeImg.png');
    background-repeat: repeat;
    height: 100vh;
}

.loginWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: #d0094c;

    box-shadow: 4px 5px 28px #3b3b3b;
    max-width: 600px;
    width: 530px;
    height: 65vh;
    border-radius: 20px;
}


.loginWrapperHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 25%;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
    
}


.loginWrapperBottom{
    flex: 1 ;
    
    min-height: 400px;

    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;

    background-color: #1e2e3e;
    border-radius: 20px;
    color: #fff;
}

.loginWrapperBottom a{
    text-decoration: none;
    color: #fff
}

.loginWrapperButtons a {
    padding: 10px;
    font-weight: 700;
}


.loginWrapperButtons{
    justify-self: start;
    align-self: center;
    margin-left: 30px;
    
}

.loginWrapperButtons a:first-child{
    border-bottom-width: 4px;
    border-bottom-color: #d0094c;
    border-bottom-style: solid;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}


.loginWrapperForm{
    place-self: center;
    width: 60%;
    margin-right: 20px;
    

}

.loginWrapperForm p{
    margin: 18px 0 ;
    font-weight: 600;
}

.loginWrapperForm input{
    border-radius: 20px;
    height: 37px;
    border: 0;
    padding: 10px;
    width: 100%;
}


.loginWrapperLoginButton{
    place-self: center;

    padding: 10px 40px;
    background-color: #d0094c;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    font-weight: 700;
}

.logginForm-ForgotPasswd{
    
    font-size: 14px;
    padding: 12px;
    color: #999;
}


/* Mobile  */
@media screen and (max-height: 850px){
    .loginWrapper{
        height: 100vh;
        border-radius: 0 ;
    }

    .loginWrapperBottom{
        border-radius: 0;
        border-top-left-radius: 20px ;
        border-top-right-radius: 20px ;

    }

    .loginWrapperLoginButton{
        width: 80%;
        height: 50px;
        text-align: center;
        line-height: 30px;
    }

    .loginWrapperForm{
        width: 80%;
    }

    .loginWrapperForm p{
        margin: 15px 0 ;
        
    }

    .loginWrapperForm input{
        height: 50px;
    }

}




