


@media screen and (min-width: 801px) and (max-width: 2000px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-bottom: #fff solid 1px;

        width: 100%;
        height: 100px;
        
        
        flex-shrink: 0;
    }

    #div-main-DirectBox:hover{
        background-color: #243b4e;
    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        padding: 0 15px 0 13px;
        
        position: relative;
        
    }

    #div-img-DirectBox::after{
        background-color: var(--color-terciary);
        width: 15px;
        height: 15px;
        
        position: absolute;
        right: 15px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 60px;
        border-radius: 50%;
        border: solid 1px #eee;
        
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        
        height: 100%;

        align-self: center;
        justify-content: center;

        padding-right: 20px;
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5px;
        
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 17px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 13px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 15px;
        height: 100%;
    }

}


/*ipad*/
@media screen and (min-width: 421px) and (max-width: 800px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-top: #fff solid 1px;

        width: 85%;
        height: 150px;
        
        padding: 15px 0;
        flex-shrink: 0;
    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        width: 110px;
        height: 110px;
        position: relative;
        flex-shrink: 0;
    }

    #div-img-DirectBox::after{
        background-color: var(--color-terciary);
        width: 25px;
        height: 25px;
        
        position: absolute;
        right: 3px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 100%;
        border-radius: 50%;
        border: solid 1px #eee;
        flex-shrink: 0;
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        align-self: center;
        justify-content: space-around;
        
        
        padding-left: 25px;
        padding-right: 5px;
        
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 28px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 22px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 26px;
        height: 100%;
    }
}

/*iPhone 6/7/8 */
@media screen and (min-width:351px) and (max-width: 420px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-top: #fff solid 1px;

        width: 85%;
        height: 110px;
        
        padding: 10px 0;
        flex-shrink: 0;


    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        width: 75px;
        height: 75px;
        position: relative;
        flex-shrink: 0;
    }

    #div-img-DirectBox::after{
        background-color: var(--color-terciary);
        width: 15px;
        height: 15px;
        
        position: absolute;
        right: 1px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 100%;
        border-radius: 50%;
        border: solid 1px #eee;
        flex-shrink: 0;
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 90%;

        align-self: center;
        justify-content: space-around;
        
        
        padding-left: 15px;
        padding-right: 5px;
        
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 19px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 15px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 16px;
        height: 100%;
        padding: 5px;
        
    }
}

@media screen and (max-width: 350px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-top: #fff solid 1px;

        width: 85%;
        height: 90px;
        
        padding: 7px 0;
        flex-shrink: 0;
    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        width: 60px;
        height: 60px;
        position: relative;
        flex-shrink: 0;
    }

    #div-img-DirectBox::after{
        background-color: var(--color-terciary);
        width: 15px;
        height: 15px;
        
        position: absolute;
        right: 1px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 100%;
        border-radius: 50%;
        border: solid 1px #eee;
        flex-shrink: 0;
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 90%;

        align-self: center;
        justify-content: space-around;
        
        padding-left: 15px;
        padding-right: 5px;
        
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 15px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 12px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 12px;
        height: 100%;
        padding: 5px;
        line-height: 12px;
    }

}



a{
    text-decoration: none;
}