@media screen and (max-height: 1366px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-top: #fff solid 1px;

        width: 85%;
        height: 24%;
        
        padding: 16px 0;
        flex-shrink: 0;

    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        width: 160px;
        height: 160px;
        position: relative;
        flex-shrink: 0;
    }

    #div-img-DirectBox::after{
        background-color: #04d361;
        width: 30px;
        height: 30px;
        
        position: absolute;
        right: 4px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 100%;
        border-radius: 50%;
        border: solid 1px #eee;
        flex-shrink: 0;
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        align-self: center;
        justify-content: space-around;
        
        
        padding-left: 25px;
        padding-right: 5px;
        
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 40px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 26px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 32px;
        height: 100%;
    }
}


/*biggest*/
@media screen and (max-height: 1100px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-top: #fff solid 1px;

        width: 85%;
        height: 24%;
        
        padding: 15px 0;
        flex-shrink: 0;
    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        width: 110px;
        height: 110px;
        position: relative;
        flex-shrink: 0;
    }

    #div-img-DirectBox::after{
        background-color: #04d361;
        width: 15px;
        height: 15px;
        
        position: absolute;
        right: 1px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 100%;
        border-radius: 50%;
        border: solid 1px #eee;
        flex-shrink: 0;
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        align-self: center;
        justify-content: space-around;
        
        
        padding-left: 25px;
        padding-right: 5px;
        
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 28px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 22px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 26px;
        height: 100%;
    }
}






/*iPhone 6/7/8 */
@media screen and (max-height: 823px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-top: #fff solid 1px;

        width: 85%;
        height: 24%;
        
        padding: 10px 0;
        flex-shrink: 0;


    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        width: 75px;
        height: 75px;
        position: relative;
        flex-shrink: 0;
    }

    #div-img-DirectBox::after{
        background-color: #04d361;
        width: 15px;
        height: 15px;
        
        position: absolute;
        right: 1px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 100%;
        border-radius: 50%;
        border: solid 1px #eee;
        flex-shrink: 0;
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 90%;

        align-self: center;
        justify-content: space-around;
        
        
        padding-left: 15px;
        padding-right: 5px;
        
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 16px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 13px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 13px;
        height: 100%;
    }
}




@media screen and (max-height: 653px){
    #div-main-DirectBox{
        display: flex;

        align-self: center; 
        border-top: #fff solid 1px;

        width: 85%;
        height: 24%;
        
        padding: 7px 0;
        flex-shrink: 0;
    }

    #div-img-DirectBox{
        align-self: center;
        display: flex;
        width: 60px;
        height: 60px;
        position: relative;
        flex-shrink: 0;
    }

    #div-img-DirectBox::after{
        background-color: #04d361;
        width: 15px;
        height: 15px;
        
        position: absolute;
        right: 1px;
        bottom: 0px;
        content: ' ';
        text-align: center;

        border-radius: 12px;
        border: 1px solid #eee;
    }

    .user-img-DirectBox{
        width: 100%;
        border-radius: 50%;
        border: solid 1px #eee;
        flex-shrink: 0;
        
    }

    #div-wrap-details-DirectBox{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 90%;

        align-self: center;
        justify-content: space-around;
        
        
        padding-left: 15px;
        padding-right: 5px;
        
        
    }

    #div-userName-DirectBox{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    #div-userName-DirectBox h1{
        color: #04D361;
        font-size: 15px;
    }

    #div-userName-DirectBox p{
        color: #888;
        font-size: 12px;
    }

    #div-lstMsg-DirectBox p{
        color: #fff;
        font-size: 12px;
        height: 100%;
    }

}