.container-groupBox{
    display:flex;
    align-self: center;
    flex-direction: column;
    flex-shrink: 0;

    position: relative;

    width: 80%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;

    background-color: var(--color-primary);

    transform: all .4s ;
}



.container-groupBox:hover{
    opacity: 0.8;
    border: 1px solid var(--color-terciary);
    cursor: pointer;
    box-shadow: 10px 8px 15px #111b24;
}

#groupBox-image-div{
    display:flex;
    width: 100%;
    height: 100%;
    margin-right: 10px;

}

.groupBox-image{
    width: 100%;
    /* border-radius: 8px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 8px;
    border-radius: 8px;
    
}

#groupBox-details{
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 50px;
    padding: 0 15px;
    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    color: #fff;
    background: rgb(30,46,62);
    background: linear-gradient(180deg, rgba(30,46,62,0.5340336818321079) 11%, rgba(30,46,62,1) 74%); 

    
}

#groupBox-tituloGrupo{
    font-size: 24px;
    align-self: center;
    /* color: #444; */
    color: #fff;


}

#groupBox-members{
    color: rgb(204, 204, 204);
    font-size: 12px;
    align-self: center;
}



/* @media screen and (max-width: 1550px){

    .container-groupBox{

        height: 100px;


    }
    

    #groupBox-image-div{
        width: 30%;
    }

    .groupBox-image{
        width: 100%;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        
    }
}


@media screen and (max-width: 1200px){



    #groupBox-image-div{
        display: none;
    }

    #groupBox-details{
        width: 100%;
        
    }

    #groupBox-tituloGrupo{
        font-size: 24px;
        color: #444;
        align-self: center;
    }
    
    #groupBox-members{
        color: #999;
        font-size: 14px;
        align-self: center;
    }
    


} */