#container-groupBox{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 30%;
    align-items: center;
    
}

#groupBox-dataHeader{
    display: none;

}
.button{
    background-color: #d0094c;
    display: flex;
    
    flex-shrink: 0;

    width: 80%;
    height: 80%;

    align-self: center;
    margin-bottom: 20px;
}

#groupBox-dataHeader{
    color: #666;
    font-size: 18px;
    align-self: left;
    margin-bottom: 10px;
}

.button:hover{
    background-color: #04d361;
    cursor: pointer;
}

@media screen and (max-width: 960px){

    #groupBox-dataHeader{
        display: flex;
        color: #ddd;
        font-size: 18px;
        align-self: left;
        margin-bottom: 10px;
    }

    #container-groupBox{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 45%;
        align-items: center;
    
        margin-bottom: 4%;
    }

    .button{
        background-color: #d0094c;
        display: flex;
        
        flex-shrink: 0;
    
        width: 80%;
        height: 70%;
    
        align-self: center;
        margin-bottom: 20px;
    }
    

}