@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.navbarContainer{
    background: #d0094c;
    
    max-width: 100vw;
    max-height: 10vh;
    align-content: center;

    overflow: hidden;
    
}

.navbarMenu{
    display: flex;
    justify-content: space-between;

    padding: 0 20px;
    min-height: 5vh;
    max-height: 10vh;
    min-width: 100vw;
    
    align-items: center;
}

.navbarMenu li{
    font-size: 16px;
    color: #fff;
}

.navbarHamburguer{
    display: none;
}


/*Tira as bolinhas da lista*/
.navbarContainer ul{
    list-style-type: none;

}

.navbarContainer a{
    color: white;
    text-decoration: none;
}


/* SEARCH BAR =============*/
.navbarSearchboxContainer{
    display: flex;
    width: 30%;
}

.navbarSearchBox{
    width: 100%;
    padding: 10px 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    display: flex;
    border: 1px;
}

.navbarSearchboxContainer a {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    color: #d0094c;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 60px;
}
/*=============*/


.navbarSideInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

/* ICONS =============*/

.navbarIconsContainer{
    display:flex;
    justify-content: space-between;
    width: 15%;
   
}

.navbarIconsContainer li:first-child{
    margin-right: 30px;
}


/*=============*/

/* USER =============*/
.navbarUserContainer{
    /* width: 15%; */
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.navbarUserInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navbarUserInfo .nickname,
.navbarUserInfo .perfil{
    text-align: right;
}



.navbarUserProfilePicContainer{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
    margin: 3px 0 3px 10px;

}

.navbarUserProfilePic{
    width: auto;
    height: 100%;
}

/*=============*/



@media screen and (max-width: 960px){
    .iconsino,
    .navbarUserProfilePic,
    .navbarUserContainer, 
    .navbarSearchboxContainer{
        display: none;
    }

    .navbarHamburguer{
        
        display: block;
    }

    /* .navbarContainer{
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        
    } */

    .navbarMenu{
        min-width: 100vw;
        height: 20vh;
    }

    .navbarSideInfoContainer{
        min-width: 0;
    }


    .iconmail{
        display: block;
        margin-right: 5px;

    }
   

}
