#InfoEvento {
    margin: 50px 20px;
}

#NomeInfoEvento {
    padding-top: 25px;
    margin-bottom: 15px;
}

#NomeInfoEvento h1 {
    color: #fff;
    font-size: 2.2rem;
}

#VisualEventos {
    display: flex;
    min-height: 250px;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

#VisualEventos a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px 30px;
}

.eventoConatainer-imageContainer {
    display: flex;
    justify-content: center;
    align-items: center ;
    max-width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 30px;
}

#VisualEventos a img {
    width: auto;
    height: 100%;
}

#VisualEventos a h3 {
    color: #eee;
    text-align: center;
    font-size: 1.1rem;
    margin: 15px 0;
    max-width: auto;
    font-weight: 300;
}

#VisualEventos a h3:hover {
    color: var(--color-terciary);
    transition: 0.44s;
}

#VisualEventos a h3:active {
    color: var(--color-terciary);
}

@media only screen and (max-width: 850px) {
    #NomeInfoEvento h1 {
        font-size: 1.75rem;
    }
    #VisualEventos a h3 {
        font-size: 1rem;
    }
}