@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

#container-eventBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;

    background-color: #fff;

    margin-top: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}



.image-eventBox2{
    width: 100%;
    
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}


.eventBox2-bottom-Container-row1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.eventBox2-DayBox{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 30px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px ;

    /* border-bottom: 10px solid #d0094d; */
}

#eventBox2-bottom-details-row1{
    margin-left: 10px;
}

#eventBox2-bottom-details-row1 h4{
    font-size: 17px ;
    font-weight: 500;

}

#eventBox2-bottom-details-row1 p{
    font-size: 14px ;
    font-weight: 500;
    color: rgb(133, 133, 133);
    
}


.eventBox2-bottom-Container-row2{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px 15px;
}

.eventBox2-bottom-Container-row2 h3{
    font-size: 18px ;
    font-weight: 600;
}

.eventBox2-bottom-Container-row2 p{
    font-size: 14px ;
    font-weight: 500;
    color: rgb(133, 133, 133);
}

.eventBox2-bottom-Container-row3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

}

.eventBox2-bottom-Container-row3 a{
    color: #fff;
    padding: 5px;

    background-color: #7e848a;
    border-radius: 10px;

    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.eventBox2-bottom-Container-row3 a:hover{
    background-color: #04d361;
}


@media screen and (max-width: 1310px){

    .eventBox2-DayBox,
    .eventoBottom-Pessoas-avatar{
        display: none;
    }
}