.ModalMensagensContainer{
    position: absolute;
    width: 300px;
    height: 430px;
    
    z-index: 2;
    transform: translateX(-50%);

    border-radius: 20px;
    background-color: #fff;

    position: fixed;
    position: -webkit-sticky;

}

.ModalMensagens-topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    color: #04d361;
    height: 50px;

}

.ModalMensagens-topbar h3{
    color: #1e2e3e;
}

.ModalMensagens-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    font-size: 17px ;
    color: #04d361;
}

.ModalMensagens-bottom p:hover{
    color: #05a84f;
    cursor: pointer;
}

.ModalMensagens-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

