#bottom-nav{
    display: none;
}

@media screen and (max-width: 960px){
    #bottom-nav{
        background-color: #d0094c;
        padding: 0;

        display: flex;

        min-width: 100vw;
        min-height: 7vh;
        height: 7vh;

        position:fixed;
        bottom: 0;
        
        border-top-left-radius: 6%;
        border-top-right-radius: 6%;
    }
    .div-bottom-icons{
        display: flex;
        align-items: center;
        justify-content: space-around;

        min-width: 100vw;
        min-height: 8vh;
        

    }
    .div-bottom-icons a{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 15px;
        height: 100%;
    }
}