#bottom-nav{
    display: none;
    
    
    
}






@media screen and (max-width: 960px){
    #bottom-nav{

        background-color: #d0094c;

        min-height: 8vh;
        max-height: 10vh;
        max-width: 100vw;
        align-content: center;
        
        display: block;

        overflow: hidden;

        
        position:fixed;
        bottom: 0;
        

        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }

    .div-icons{
        min-width: 100vw;
        min-height: 8vh;
        max-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
}