@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

.PageNotFound-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    flex-direction: column;

}


.PageNotFound-container h1{
    
    color: #fff;
    font-size: 12em;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 40px;
}

.PageNotFound-container h1 span{
    
    color: #fff;
}

.PageNotFound-code{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    font-size: 1.2em;
}

.PageNotFound-indent{
    margin-left: 20px;
}

.PageNotFound-funcName{
    color: #85c8fd;
}

.PageNotFound-varMessage{
    color: #eb7180;
}

.PageNotFound-stringMessage{
    color: #a2da81;
}


.PageNotFound-backButton{
    width: 150px;
    height: 50px;
    background-color: #d0094c;
    border-radius: 10px;
    box-shadow: 8px 5px 15px #111b24;
    
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 50px;
}

.PageNotFound-backButton:hover{
    background-color: #a8083e;
    box-shadow: 10px 7px 15px #111b24;
    cursor: pointer;
}


@media screen and (max-width: 960px){
    .PageNotFound-backButton{
        bottom: 80px;
    }
}

