.spaced{
    display: flex;
    justify-content: space-between;
    
}

#div-main{
    height: 100vh;
    background-color: #1d2d3d;
}

#page{
    margin: 0 20px 0 20px;
    
    
}

#div-navbar{
    min-width: 100vw;
}
