

.spaced{
    display: flex;
    justify-content: space-between;
}

#div-toHide-boxList{
    display: flex;
    justify-content: center;
    margin: 0 2%;
    width: 22%;
}

#div-posts-FeedPrincipal{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* width: 40%; */
    margin-top: 40px;
}

#FeedPrincipal-div-main{
    height: 100vh;
}



@media screen and (max-width: 960px){
    #div-toHide-boxList{
        display: none;
    }

    .spaced{
        justify-content: center;
    }

    #div-posts-FeedPrincipal{
        width: 90%;
        margin: 20px;
        
    }
}