.postContainer {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 8px 5px 15px #111b24;
    background-color: #fff;
    max-width: 500px;
    min-width: 500px;
    margin-bottom: 30px;
}

.postIcon {
    color: var(--color-secundary);
}

.postIcon:hover {
    color: var(--color-secundary);
    cursor: pointer;
}

/* Post Header  */

.postHeader {
    display: flex;
    justify-content: space-between;
}

.postHeader a {
    display: flex;
    padding: 10px 20px 10px 20px;
    color: #111b24;
}


.postHeader-editAction {
    margin-top: 8px;
    color: var(--color-secundary);
}

.postProfilePictureContainer {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.postUserPicture {
    width: auto;
    height: 100%;
}

.postInfo {
    margin-left: 20px;
}

.postInfo .postInfoSubtext {
    color: rgb(158, 158, 158);
    font-size: 0.8em;
}

/* Post Content  */

.postContent {
    padding: 0 12px 29px 12px;
}

/* Post Footer  */

.postFooter {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 10px;
}

.postLikesContainer,
.postCommentsContainer {
    display: flex;
}

.postLikesContainer p,
.postCommentsContainer p {
    margin-left: 12px;
}

.like-btn {
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
  }

.like-icon{
      position: absolute;
      -webkit-text-stroke: 2px var(--color-secundary);
      color: var(--color-secundary);
      transition: all ease-in-out;
  }

  .like-btn:checked + .like-icon{
      color: var(--color-secundary);
      -webkit-text-stroke: 1px var(--color-secundary);
      animation: .5s linear burst; 
  }


@keyframes burst{
    0%,10%{
        transform: scale(1);
        opacity: .5;
        color:var(--color-secundary);
    }
    45%{
        transform: scale(.2) rotate(30deg);
        opacity: .75;
    }
    50%{
        transform: scale(2) rotate(-37.5deg);
        opacity: 1;
        color: var(--color-secundary);
        text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
    }
    90%,95%{
        transform: scale(1) rotate(10deg);
        text-shadow: none;
    }
    100% {
        transform: rotate(-2.5deg);
    }

  }
@media screen and (max-width: 510px) {
    .postContainer {
        width: 100vw;
        min-width: 0;
        border-radius: 0;

    }

    .postHeader a {
        display: flex;
        padding: 10px 20px 10px 0 ;
        color: #111b24;
    }
}
