.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: var(--color-secundary);

}

.voltar-editeuserBtt {
    color: #000;
    transition: all .3s;
}

.voltar-editeuserBtt:hover {
    color: var(--color-secundary);
}