.MensagemBox-Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

    margin-bottom: 1px ;
    padding: 0 10px;
    position: relative;
}

.MensagemBox-Container:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.MensagemBox-text-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    color: #000;
    width: 240px;
    height: 75%;
}

.MensagemBox-text{
    font-size: 0.78em;
    color: #999;
}

.MensagemBox-UserActionName{
    font-weight: 700;
}

.MensagemBox-tempo{
    color: #999;
    font-size: 0.7em;
    text-align: center;
}

.MensagemBox-userPic-Container{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
}

.MensagemBox-userPic-Container::after{
    background-color: var(--color-terciary);
    width: 10px;
    height: 10px;
    
    position: absolute;
    left: 38px;
    bottom: 14px;
    content: ' ';
    text-align: center;
    
    border-radius: 12px;
    border: 1px solid #fff;
}

.MensagemBox-userPic{
    width: auto;
    height: 100%;
}

.MensagemBox-ActionPic-Container{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;

    position: relative;
}

.MensagemBox-ActionPic{
    width: auto;
    height: 100%;
}

.MensagemBox-NewMessage::after{
    background-color: var(--color-primary);
    width: 15px;
    height: 15px;
    
    position: absolute;
    right: 10px;
    bottom: 10px;
    content: ' 1 ';

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;
    font-size: 0.76em;

    border-radius: 12px;
}


/* Direct Mobile  */

.MensagemBox-Container-DirectMobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

    padding: 0 10px;
    position: relative;
    margin: 11px 0;

}


.MensagemBox-text-container-DirectMobile{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    color: #fff;
    width: 240px;
    height: 75%;
}

.MensagemBox-text-DirectMobile{
    font-size: 0.78em;
    color: rgb(233, 233, 233);
    margin-top: 3px;
}

.MensagemBox-userPic-Container-DirectMobile{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
}

.MensagemBox-userPic-Container-DirectMobile::after{
    background-color: var(--color-terciary);
    width: 10px;
    height: 10px;
    
    position: absolute;
    left: 41px;
    bottom: 3px;
    content: ' ';
    text-align: center;
    
    border-radius: 12px;
    border: 1px solid #fff;
}


.MensagemBox-tempo-DirectMobile{
    color: rgb(233, 233, 233);
    font-size: 0.7em;
    text-align: center;
}


.MensagemBox-NewMessage-DirectMobile::after{
    background-color: var(--color-secundary);
    width: 17px;
    height: 17px;
    
    position: absolute;
    right: 10px;
    bottom: 10px;
    content: ' 1 ';

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;
    font-size: 0.76em;

    border-radius: 12px;
}