.RegistroContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #d0094c; */
    background: url('../../assets/Tech-Building.jpg');
    background-repeat: repeat;
    height: 100vh;
}

.RegistroWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: #d0094c;

    box-shadow: 4px 5px 28px #3b3b3b;
    max-width: 600px;
    width: 530px;
    height: 80vh;
    border-radius: 20px;
}


.RegistroWrapperHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 18%;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
    
}



.RegistroWrapperBottom{
    flex: 1 ;
    
    min-height: 500px;

    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;

    background-color: #1e2e3e;
    /* background: rgb(208,9,76);
    background: linear-gradient(180deg, rgba(208,9,76,1) 4%, rgba(30,46,62,1) 57%); */
    border-radius: 20px;
    color: #fff;
}

.RegistroWrapperBottom a{
    text-decoration: none;
    color: #fff
}

.RegistroWrapperButtons a {
    padding: 10px;
    font-weight: 700;
}


.RegistroWrapperButtons{
    justify-self: start;
    align-self: center;
    margin-left: 30px;
    padding: 10px;

}

.RegistroWrapperButtons a:last-child{
    border-bottom-width: 4px;
    border-bottom-color: #d0094c;
    border-bottom-style: solid;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}


.RegistroWrapperForm{
    place-self: center;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    

}

.RegistroWrapperForm p{
    margin: 18px 0 ;
    font-weight: 600;
}

.RegistroWrapperForm input{
    border-radius: 20px;
    height: 37px;
    border: 0;
    padding: 10px;
    width: 100%;
}


.RegistroWrapperRegistroButton{
    place-self: center;

    padding: 10px 40px;
    background-color: #d0094c;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    font-weight: 700;
}


/* Mobile  */
@media screen and (max-height: 850px){
    .RegistroWrapper{
        height: 100vh;
    }

    .RegistroWrapperRegistroButton{
        width: 80%;
        height: 50px;
        text-align: center;
        line-height: 30px;
    }

    .RegistroWrapperForm{
        width: 80%;
    }

    .RegistroWrapperForm p{
        margin: 15px 0 ;
        
    }

    .RegistroWrapperForm input{
        height: 50px;
    }

}




