<<<<<<< HEAD


body{
    background-color: #1d2d3d;
}

.spaced{
    display: flex;
    justify-content: space-between;
    
}


#page{
    margin: 0 20px 0 20px;
    
}

body{
    font-family: 'PT Sans', sans-serif;
}


#div-navbar{
    min-width: 100vw;
}

#div-bottomnavbar{
    min-width: 100vw;
=======
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.font-techpot{
    font-family: 'PT Sans', sans-serif;
}

#div-navbar{
    background-color: #1d2d3d;
>>>>>>> 3c9098d7c44cdb5c0381e72a507cff94844a9362
}