@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.font-techpot{
    font-family: 'PT Sans', sans-serif;
}



/* Custom scrollbar  */
/* Firefox  */
* {
    scrollbar-width: thin;
    scrollbar-color: #d0094c #fff;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 20px;
}
*::-webkit-scrollbar-track {
    background: #fff;
}
*::-webkit-scrollbar-thumb {
    background-color: #d0094c;
    border-radius: 20px;
    border: 3px solid #fff;
}
 