
.logoText a{
    font-size: 2.7em;
    font-family: 'Bungee', cursive;

}

.logoContainer {
    display: flex;
    justify-items: center;
}

.logoIcon {
    height: 50px;
    width: 50px;
    margin: 0 10px ;
}


@media screen and (max-width: 960px){
    .logoIcon{
        display: none;
    }

    .logoText a{
        font-size: 2.1em
    }
}
