
.logoText {
    font-size: 2em;
    font-family: 'Bungee', cursive;
    color: #fff;
    text-decoration: none;
}

.logoContainer {
    display: flex;
    justify-items: center;
    align-items: center;
}

.logoIcon {
    height: 50px;
    width: 50px;
    margin: 0 10px ;
}


@media screen and (max-width: 960px){
    .logoIcon{
        display: none;
    }

    .logoText{
        font-size: 2.1em
    }
}
