

@media screen and (max-width: 960px){
    #div-search-page{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #1d2d3d;
        flex-shrink: 0;
        
        height: 85vh;
        width: 100vw;
        margin: 0;
        padding-bottom: 6vh;
        
    }

    #search-page-div-searchbar{
        display: flex;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 5vh;

    }

    #search-page-div-searchbar input{
        width: 100%;
        padding: 15px 20px;
        
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: solid 1px #ddd;
        display: flex;

        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);

    }

    #search-page-div-searchbar a{
        display: flex;
        align-items: center;
        justify-content: center;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        color: #fff;
        width: 60px;
        background-color: var(--color-secundary);

        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    }


    #search-page-most-searched{
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 85%;
        overflow-y: scroll;
        bottom: 20vh;

    }
}
